<div class="line" style="padding-top: 10px">
<h2><%= t('customers.title') %></h2>
<tbody>

<tr>
  <td>
    <%= image_tag "content/casio-home.jpg", :class => 'customs' %>
  </td>
  <%= image_tag "content/difior.jpg", :class => 'customs' %>
  <td>
    <%= image_tag "content/shunok-home.jpg", :class => 'customs' %>
  </td>

<tr>
  <td class="clents-hr" colspan="5">
    <hr/>
  </td>
</tr>

<tr>
  <td>
    <%= image_tag "content/gashek-home.jpg", :class => 'customs' %>
  </td>
  <%= image_tag "content/inrubik-home.jpg", :class => 'customs' %>
  <td>
    <%= image_tag "content/kompastik-home.jpg", :class => 'customs' %>
  </td>

<tr>
  <td class="clents-hr" colspan="5">
    <hr/>
  </td>
</tr>


<tr>
  <td>
    <%= image_tag "customers/image_1.jpg", :class => 'customs' %>
  </td>
  <%= image_tag "customers/image_2.jpg", :class => 'customs' %>
  <td>
    <%= image_tag "customers/image_3.jpg", :class => 'customs' %>
  </td>

<tr>
  <td class="clents-hr" colspan="5">
    <hr/>
  </td>
</tr>


</tr>

<tr>
  <td>
    <%= image_tag "customers/image_4.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_5.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_6.jpg", :class => 'customs' %>
  </td>
</tr>
<tr>
  <td class="clents-hr" colspan="5">
    <hr/>
  </td>
</tr>
<tr>
  <td>
    <%= image_tag "customers/image_7.jpg", :class => 'customs' %>
  </td>
  <%= image_tag "customers/image_8.jpg", :class => 'customs' %>
  <td>
    <%= image_tag "customers/image_9.jpg", :class => 'customs' %>
  </td>

<tr>
  <td class="clents-hr" colspan="5">
    <hr/>
  </td>
</tr>


</tr>
<td>

<tr>
  <td>
    <%= image_tag "customers/image_10.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_11.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_12.jpg", :class => 'customs' %>
  </td>
</tr>
<tr>
  <td class="clents-hr" colspan="5">
    <hr/>
  </td>
</tr>

<tr>
  <td>
    <%= image_tag "customers/image_13.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_14.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_15.jpg", :class => 'customs' %>
  </td>
</tr>
<tr>
  <td class="clents-hr" colspan="5">
    <hr/>
  </td>
</tr>

<tr>
  <td>
    <%= image_tag "customers/image_16.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_17.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_18.jpg", :class => 'customs' %>
  </td>
</tr>
<tr>
  <td class="clents-hr" colspan="5">
    <hr/>
  </td>
</tr>

<tr>
  <td>
    <%= image_tag "customers/image_19.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_20.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_21.jpg", :class => 'customs' %>
  </td>
</tr>
<tr>
  <td class="clents-hr" colspan="5">
    <hr/>
  </td>
</tr>

<tr>
  <td>
    <%= image_tag "customers/image_22.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_23.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_24.jpg", :class => 'customs' %>
  </td>
</tr>
<tr>
  <td class="clents-hr" colspan="5">
    <hr/>
  </td>
</tr>

<tr>
  <td>
    <%= image_tag "customers/image_25.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_26.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_27.jpg", :class => 'customs' %>
  </td>
</tr>
<tr>
  <td class="clents-hr" colspan="5">
    <hr/>
  </td>
</tr>

<tr>
  <td>
    <%= image_tag "customers/image_28.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_29.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_30.jpg", :class => 'customs' %>
  </td>
</tr>
<tr>
  <td class="clents-hr" colspan="5">
    <hr/>
  </td>
</tr>

<tr>
  <td>
    <%= image_tag "customers/image_31.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_32.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_33.jpg", :class => 'customs' %>
  </td>
</tr>
<tr>
  <td class="clents-hr" colspan="5">
    <hr/>
  </td>
</tr>

<tr>
  <td>
    <%= image_tag "customers/image_34.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_35.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_36.jpg", :class => 'customs' %>
  </td>
</tr>
<tr>
  <td class="clents-hr" colspan="5">
    <hr/>
  </td>
</tr>

<tr>
  <td>
    <%= image_tag "customers/image_37.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_38.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_39.jpg", :class => 'customs' %>
  </td>
</tr>
<tr>
  <td class="clents-hr" colspan="5">
    <hr/>
  </td>
</tr>

<tr>
  <td>
    <%= image_tag "customers/image_40.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_41.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_42.jpg", :class => 'customs' %>
  </td>
</tr>
<tr>
  <td class="clents-hr" colspan="5">
    <hr/>
  </td>
</tr>

<tr>
  <td>
    <%= image_tag "customers/image_43.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_44.jpg", :class => 'customs' %>
  </td>
  <td>
    <%= image_tag "customers/image_45.jpg", :class => 'customs' %>
  </td>
</tr>
<tr>
  <td class="clents-hr" colspan="5">
    <hr/>
  </td>
</tr>

</tbody>

</div>