<% provide(:title, 'Home') %>

<!--Блок Види робіт -->

<div class='line'>
  <div class="line-title"><h2><%= t('page_home.type_of_work.title') %></h2></div>
  <ul class="block">
    <div class="contact">

      <li class="span4">
        <%= link_to(image_tag('iconOther.png', alt: t('page_home.type_of_work.website_development')), '/website_development') %>
        <h3><%= t('page_home.type_of_work.website_development') %></h3>
      </li>

      <li class="span4">
        <%= link_to(image_tag('iconSocial.png', alt: t('page_home.type_of_work.internet_services')), '/internet_services') %>

        <h3><%= t('page_home.type_of_work.internet_services') %></h3>
      </li>

      <li class="span4">
        <%= link_to(image_tag('iconUserSite.png', alt: t('page_home.type_of_work.support_sites')), '/support_sites') %>

        <h3><%= t('page_home.type_of_work.support_sites') %></h3>
      </li>
    </div>
  </ul>
</div>


<!--Блок слайдер -->


<div id="slider">
  <!-- La banderolle qui contiens toute les images -->
  <div id="mask">
    <div id="image_container">
      <div id="mainwrapper">

        <li>
          <div id="box-1" class="box">
            <a href="http://magazin-casio.com" target="_blank"><img id="image-6" <%= image_tag('content/casio-home.jpg') %> />
		     <span class="caption scale-caption">
             <p style="width: 255px; padding-top: 13px"><%= t("page_home.info.slider.casio") %></p>
            </span>
            </a>
          </div>
        </li>


        <li>
          <div id="box-1" class="box">
            <a href="http://shunok.com.ua" target="_blank"><img id="image-6"  <%= image_tag('content/shunok-home.jpg') %> />
		     <span class="caption scale-caption">
             <p style="width: 255px; padding-top: 13px"><%= t("page_home.info.slider.shunok") %></p>
            </span>
            </a>
          </div>
        </li>


        <li>
          <div id="box-1" class="box">
            <a href="http://kompastik.ru" target="_blank"><img id="image-6"  <%= image_tag('content/kompastik-home.jpg') %> />
		     <span class="caption scale-caption">
             <p style="width: 255px; padding-top: 13px"><%= t("page_home.info.slider.kompastik") %></p>
            </span>
            </a>
          </div>
        </li>

        <li>
          <div id="box-1" class="box">
            <a href="http://gashek.com.ua" target="_blank"><img id="image-6"  <%= image_tag('content/gashek-home.jpg') %> />
		     <span class="caption scale-caption">
             <p style="width: 255px; padding-top: 13px"><%= t("page_home.info.slider.gashek") %>></p>
            </span>
            </a>

          </div>
        </li>

        <li>
          <div id="box-1" class="box">
            <a href="http://difiore.org.ua" target="_blank"><img id="image-6"  <%= image_tag('content/difior.jpg') %> />
		     <span class="caption scale-caption">
             <p style="width: 255px; padding-top: 13px"><%= t("page_home.info.slider.difiore") %>></p>
		     </span>
            </a>
          </div>
        </li>

        <li>
          <div id="box-1" class="box">
            <a href="http://inrubik.com" target="_blank"><img id="image-6"  <%= image_tag('content/inrubik-home.jpg') %> />
		     <span class="caption scale-caption">
             <p style="width: 255px; padding-top: 13px"><%= t("page_home.info.slider.inrubik") %>></p>
		   </span>
            </a>
          </div>
        </li>


        <li>
          <div id="box-1" class="box">
            <a href="http://steroid-anabolic.com/forum" target="_blank"><img id="image-6"  <%= image_tag('content/st-forum.jpg') %> />
		     <span class="caption scale-caption">
             <p style="width: 255px; padding-top: 13px"><%= t('page_home.info.slider.st-forum') %></p>
		   </span>
            </a>
          </div>
        </li>

        <li>
          <div id="box-1" class="box">
            <a href="http://steroid-anablic.com/net" target="_blank"><img id="image-6"  <%= image_tag('content/st-net.jpg') %> />
		     <span class="caption scale-caption">
             <p style="width: 255px; padding-top: 13px"><%= t('page_home.info.slider.st-net') %></p>
		     </span>
            </a>
          </div>
        </li>

        <li>
          <div id="box-1" class="box">
            <a href="http://steroid-anabolic.com" target="_blank"><img id="image-6"  <%= image_tag('content/st-shop.jpg') %> />
		     <span class="caption scale-caption">
             <p style="width: 255px; padding-top: 13px"><%= t('page_home.info.slider.st-shop') %></p>
		   </span>
            </a>
          </div>
        </li>

        <li>
          <div id="box-1" class="box">
            <a href="http://slovaronline.com" target="_blank"><img id="image-6"  <%= image_tag('content/slovaronline-home.jpg') %> />
		     <span class="caption scale-caption">
             <p style="width: 255px; padding-top: 13px"><%= t('page_home.info.slider.slovaronline') %></p>
		   </span>
            </a>
          </div>
        </li>

        <li>
          <div id="box-1" class="box">
            <a href="http://ukrparket.in.ua" target="_blank"><img id="image-6"  <%= image_tag('content/ukrparket.jpg') %> />
		     <span class="caption scale-caption">
             <p style="width: 255px; padding-top: 13px"><%= t("page_home.info.slider.ukrparket") %></p>
		     </span>
            </a>
          </div>
        </li>


        <li>
          <div id="box-1" class="box">
            <a href="http://sesii.net" target="_blank"><img id="image-6"  <%= image_tag('content/sesii-home.jpg') %> />
		     <span class="caption scale-caption">
             <p style="width: 255px; padding-top: 13px"><%= t('page_home.info.slider.sesii') %></p>
		   </span>
            </a>
          </div>
        </li>


      </div>
    </div>
  </div>
  <%= image_tag "images/resources/fleche-gauche.png", id: "fleche_gauche", class: "fleche", onClick: "prevImage()" %>
  <%= image_tag "images/resources/fleche-droite.png", id: "fleche_droite", class: "fleche", onClick: "nextImage()" %>
</div>





<div class="clear">

  <ul class="ca-menu">
    <li>
      <a href="/customers">
        <span class="ca-icon"><%= t('page_home.info.customers.ca-icon') %></span>

        <div class="ca-content">
          <h2 class="ca-main"><%= t('page_home.info.customers.ca-main') %></h2>

          <h3 class="ca-sub"><%= t('page_home.info.customers.ca-sub') %></h3>
        </div>
      </a>
    </li>
    <li>
      <a href="/about">
        <span class="ca-icon"><%= t('page_home.info.about.ca-icon') %></span>

        <div class="ca-content">
          <h2 class="ca-main"><%= t('page_home.info.about.ca-main') %></h2>

          <h3 class="ca-sub"><%= t('page_home.info.about.ca-sub') %></h3>
        </div>
      </a>
    </li>
    <li>
      <a href="#contact" class="inline" style="text-transform:none">
        <span class="ca-icon"><%= t('page_home.info.contact.ca-icon') %></span>

        <div class="ca-content">
          <h2 class="ca-main"><%= t('page_home.info.contact.ca-main') %></h2>

          <h3 class="ca-sub"><%= t('page_home.info.contact.ca-sub') %></h3>
        </div>
      </a>

      <%= render 'shared/contact_form' %>
    </li>
  </ul>
  <%= image_tag('content/mapa.png', alt: 'mapa') %>
</div>