<% provide(:title, 'internet-site') %>




<div class="line">
  <div class="wrapper_body">
    <div class="cbm_wrap ">
      <h1><%= t("services.bkload.titile") %></h1>
      <%= image_tag "content/bkload.jpg", class: "latest_img" %>
      <div id="text" style="padding-top: 10px"><p><%= t("services.bkload.text") %></p></div>
      <br/>
      <a href="http://bkload.com/">BKLOAD.COM</a>
    </div>
  </div>

  <div class="wrapper_body">
    <div class="cbm_wrap ">
      <h1><%= t("services.slovaronline.titile") %></h1>
      <%= image_tag "content/slovaronline.jpg", class: "latest_img" %>
      <div id="text" style="padding-top: 10px"><p><%= t("services.slovaronline.text") %></p></div>
      <br/>
      <a href="http://bkload.com/">BKLOAD.COM</a>
    </div>
  </div>

  <div class="wrapper_body">
    <div class="cbm_wrap ">
      <h1><%= t("services.shunok.titile") %></h1>
      <%= image_tag "content/shunok-site.jpg", class: "laterst_img" %>
      <div id="text" style="padding-top: 10px"><p><%= t("services.shunok.text") %></p></div>
      <br/>
      <a href="http://shunok.com.ua/">SHUNOK.COM</a>
    </div>
  </div>

  <div class="wrapper_body">
    <div class="cbm_wrap ">
      <h1><%= t("services.shunok_flash.titile") %></h1>
      <%= image_tag "content/shunok.jpg", class: "latest_img" %>
      <div id="text" style="padding-top: 10px"><p><%= t("services.shunok_flash.text") %></p></div>
      <br/>
      <a href="http://shunok.com.ua/models/view.html">SHUNOK.COM</a>
    </div>
  </div>


  <div class="wrapper_body">
    <div class="cbm_wrap ">
      <h1><%= t("services.kompastik.titile") %></h1>
      <%= image_tag "content/kompastik.jpg", class: "latest_img" %>
      <div id="text" style="padding-top: 10px"><p><%= t("services.kompastik.text") %></p></div>
      <br/>
      <a href="http://kompasik.ru/">KOMPASTIK.RU</a>
    </div>
  </div>

</div>