<% provide(:title, 'support-sites') %>

<div class="dev-all-content">
  <div class="line-title"><h2>Поддержка сайтов</h2></div>

  <ul class="block-site" id="dev">
    <div class="clear-dev">
      <ul class="dev-left">
        <li>
          <%= image_tag "content/support-site/list-suport.png" %>
          <a href="#contact" id="text" class="inline cboxElement text" data-message_source="information_support">
            <h3><%= raw t('support.information_support.title') %></h3>
            <%= raw t('support.information_support.p') %>  </a>
        </li>
        <li>
          <%= image_tag "content/support-site/graphic-design.png" %>
          <a href="#contact" id="text" class="inline cboxElement text" data-message_source="graphic_support">
            <h3><%= raw t('support.graphic_support.title') %></h3>
            <%= raw t('support.graphic_support.p') %> </a>
        </li>
      </ul>

      <ul class="dev-right">
        <li>
          <%= image_tag "content/support-site/texnikal-suport.png" %>
          <a href="#contact" id="text" class="inline cboxElement text" data-message_source="technical_support">
            <h3><%= raw t('support.technical_support.title') %></h3>
            <%= raw t('support.technical_support.p') %> </a>
        </li>

        <li>
          <%= image_tag "content/support-site/development-project.png" %>
          <a href="#contact" id="text" class="inline cboxElement text" data-message_source="project_development">
            <h3><%= raw t('support.project_development.title') %></h3>
            <%= raw t('support.project_development.p') %> </a>
        </li>
      </ul>
    </div>

    <div class="clear-dev">
      <ul class="dev-left">
        <li>
          <%= image_tag "content/support-site/hosting.png" %>
          <a href="#contact" id="text" class="inline cboxElement text" data-message_source="hosting_services">
            <h3><%= raw t('support.hosting_services.title') %></h3>
            <%= raw t('support.hosting_services.p') %> </a>
        </li>
      </ul>

      <ul class="dev-right">
        <li>
          <%= image_tag "content/support-site/abuz-server.png" %>
          <a href="#contact" id="text" class="inline cboxElement text" data-message_source="bulletproof_hosting">
            <h3><%= raw t('support.bulletproof_hosting.title') %></h3>
            <%= raw t('support.bulletproof_hosting.p') %> </a>
        </li>
      </ul>
    </div>

    <div class="clear-dev">
      <ul class="dev-left">
        <li>
          <%= image_tag "content/support-site/extended.png" %>
          <a href="#contact" id="text" class="inline cboxElement text" data-message_source="tailoring">
            <h3><%= raw t('support.tailoring.title') %></h3>
            <%= raw t('support.tailoring.p') %> </a>
        </li>

        <li>
          <%= image_tag "content/support-site/error.png" %>
          <a href="#contact" id="text" class="inline cboxElement text" data-message_source="error_correction">
            <h3><%= raw t('support.error_correction.title') %></h3>
            <%= raw t('support.error_correction.p') %>  </a>
        </li>
      </ul>

      <ul class="dev-right">
        <li>
          <%= image_tag "content/support-site/re-design.png" %>
          <a href="#contact" id="text" class="inline cboxElement text" data-message_source="redesign">
            <h3><%= raw t('support.redesign.title') %></h3>
            <%= raw t('support.redesign.p') %> </a>
        </li>

        <li>
          <%= image_tag "content/support-site/konsalting.png" %>
          <a href="#contact" id="text" class="inline cboxElement text" data-message_source="consulting">
            <h3><%= raw t('support.consulting.title') %></h3>
            <%= raw t('support.consulting.p') %> </a>
        </li>
      </ul>
    </div>

  </ul>
</div>

<%= render 'shared/contact_form' %>