<% provide(:title, 'website-development') %>


<div id="all-content">
  <div class="line-title"><h2><%= t('development.all_block.title') %></h2></div>
  <ul class="block-site">


    <ul class="grid cs-style-2">

      <li class="span5">
        <div class="view view-fifth">
          <%= image_tag "content/shop.jpg" %>

          <div class="mask">
            <h2><%= t("development.shop.title") %></h2>

            <p><%= t("development.shop.p") %> <br> <%= t("development.shop.p_2") %> </p>

            <a href="#shop" class="inline"><%= t("development.all_block.button") %></a>

            <div style='display:none'>
              <div id="shop" class="popup" style="text-align: left">
                <div class="popup_title"><%= t('development.shop.popup_title') %></div>
                <div class="popup_entry"><%= raw t('development.shop.popup_entry') %></div>
                <div class="popup_one_colone"><%= raw t("development.shop.popup_one_colone") %>
                </div>

                <table id="poslugy">
                  <tr>
                    <th>
                      <%= t('development.shop.colon_name_left') %>
                    </th>
                    <th>
                      <%= t('development.shop.colon_name_right') %>
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <%= raw t('development.shop.our_services_colon_1') %>
                    </td>
                    <td>
                      <%= raw t('development.shop.our_services_colon_2') %>
                    </td>
                  </tr>
                </table>
                <hr/>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="span5">
        <div class="view view-fifth">
          <%= image_tag "content/internet-business.jpg" %>

          <div class="mask">
            <h2><%= t("development.business.title") %></h2>

            <p><%= t("development.business.p") %> <br> <%= t("development.business.p_2") %> </p>

            <a href="#businnes" class="inline"><%= t("development.all_block.button") %></a>

            <div style='display:none'>
              <div id="businnes" class="popup" style="text-align: left">
                <div class="popup_title"><%= t('development.business.popup_title') %></div>
                <div class="popup_entry"><%= raw t('development.business.popup_entry') %></div>
                <div class="popup_one_colone"><%= raw t("development.business.popup_one_colone") %>
                </div>

                <table id="poslugy">
                  <tr>
                    <th>
                      <%= t('development.business.colon_name_left') %>
                    </th>
                    <th>
                      <%= t('development.business.colon_name_right') %>
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <%= raw t('development.business.our_services_colon_1') %>
                    </td>
                    <td>
                      <%= raw t('development.business.our_services_colon_2') %>
                    </td>
                  </tr>
                </table>
                <hr/>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="span5">
        <div class="view view-fifth">
          <%= image_tag "content/blog.jpg" %>

          <div class="mask">
            <h2><%= t("development.blog.title") %></h2>

            <p><%= t("development.blog.p") %> <br> <%= t("development.blog.p_2") %> </p>

            <a href="#blog" class="inline"><%= t("development.all_block.button") %></a>

            <div style='display:none'>
              <div id="blog" class="popup" style="text-align: left">
                <div class="popup_title"><%= t('development.blog.popup_title') %></div>
                <div class="popup_entry"><%= raw t('development.blog.popup_entry') %></div>
                <div class="popup_one_colone"><%= raw t("development.blog.popup_one_colone") %>
                </div>

                <table id="poslugy">
                  <tr>
                    <th>
                      <%= t('development.blog.colon_name_left') %>
                    </th>
                    <th>
                      <%= t('development.blog.colon_name_right') %>
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <%= raw t('development.blog.our_services_colon_1') %>
                    </td>
                    <td>
                      <%= raw t('development.blog.our_services_colon_2') %>
                    </td>
                  </tr>
                </table>
                <hr/>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class="span5">
        <div class="view view-fifth">
          <%= image_tag "content/forum.jpg" %>

          <div class="mask">
            <h2><%= t("development.forum.title") %></h2>

            <p><%= t("development.forum.p") %> <br> <%= t("development.forum.p_2") %> </p>

            <a href="#forum" class="inline"><%= t("development.all_block.button") %></a>

            <div style='display:none'>
              <div id="forum" class="popup" style="text-align: left">
                <div class="popup_title"><%= t('development.forum.popup_title') %></div>
                <div class="popup_entry"><%= raw t('development.forum.popup_entry') %></div>
                <div class="popup_one_colone"><%= raw t("development.forum.popup_one_colone") %>
                </div>

                <table id="poslugy">
                  <tr>
                    <th>
                      <%= t('development.forum.colon_name_left') %>
                    </th>
                    <th>
                      <%= t('development.forum.colon_name_right') %>
                    </th>
                  </tr>
                  <tr>
                    <td>
                      <%= raw t('development.forum.our_services_colon_1') %>
                    </td>
                    <td>
                      <%= raw t('development.forum.our_services_colon_2') %>
                    </td>
                  </tr>
                </table>
                <hr/>
              </div>

            </div>
          </div>
        </div>
      </li>
    </ul>
  </ul>


  <div class="line-title"><h2><%= t('development.mapa.title') %></h2></div>
  <div class="mapa">
    <%= image_tag('content/mapa.png', alt: 'mapa') %>

  </div>
</div>