:javascript
  $(function() {
    var chart = new Highcharts.Chart({
      chart: { renderTo: "#{project.name}"},
      title: { text: "#{project.url}" },
      xAxis: { type: 'datetime' },
      yAxis: { title: { text: 'Count' }},
      series: [
        {
          pointInterval: #{ 1.day * 1000 },
          pointStart: #{ profit_partner.keys.size.days.ago.to_i * 1000 },
          data: #{profit_partner.map {|k, v| v[:views].to_i}},
          name: "Profit Partner View",
        },
        {
          pointInterval: #{ 1.day * 1000 },
          pointStart: #{ profit_partner.keys.size.days.ago.to_i * 1000 },
          data: #{profit_partner.map {|k, v| v[:clicks].to_i}},
          name: "Profit Partner clicks",
        },
        {
          pointInterval: #{ 1.day * 1000 },
          pointStart: #{ profit_partner.keys.size.days.ago.to_i * 1000 },
          data: #{profit_partner.map {|k, v| v[:amount].to_f}},
          name: "Profit Partner Amount",
        },
        {
          pointInterval: #{ 1.day * 1000 },
          pointStart: #{ google_analytics.keys.size.days.ago.to_i * 1000 },
          data: #{google_analytics.map {|k, v| v[:views].to_f}},
          name: "Google Analytics views Amount",
        },
        {
          pointInterval: #{ 1.day * 1000 },
          pointStart: #{ google_analytics.keys.size.days.ago.to_i * 1000 },
          data: #{google_analytics.map {|k, v| v[:users].to_f}},
          name: "Google Analytics Users",
        }]
    });
    $.each(chart.series, function( index, value ) {
        if (value.data.length == 0) {
            value.hide();
        }
    });
  });

%script{src: "http://code.highcharts.com/modules/exporting.js"}
.chart{id: "#{project.name}", style: "min-width: 400px; height: 400px; margin: 0 auto"}