<div style='display:none'>
  <div id="contact" class="popup">
    <div class='message_errors'></div>
    <div class='message_sended'></div>
    <div class="popup_title"><%= t("message.form_title") %></div>
    <div class="popup_entry"><%= t("message.form_title_small") %></div>
    <div class="popup_one_colone">
      <%= form_for @message, remote: true do |f| %>

          <%= f.label :name, Message.human_attribute_name(:name) %>
          <%= f.text_field :name %>

          <%= f.label :email, Message.human_attribute_name(:email) %>
          <%= f.text_field :email %>

          <%= f.label :team, Message.human_attribute_name(:team) %>
          <%= f.text_field :team %>

          <%= f.label :question, Message.human_attribute_name(:question) %>
          <%= f.text_area :question %>

          <%= f.hidden_field :source %>

          <%= f.submit t("actions.submit_message"), class: "btn btn-large btn-primary" %>

      <% end %>
      <div id="reviews">
        <%= render :partial => 'shared/error_messages', :collection => @message %>
      </div>
    </div>
  </div>
</div>

<script>
    $('.text').click(function () {
        var source = $(this).data('message_source');
        console.log(source);
        $('#new_message #message_source')[0].value = source;
    });
    $(document).ready(function () {


        $('#new_message').bind('ajax:complete', function (evt, data, status, xhr) {
            $('#contact .message_errors')[0].innerHTML = '';
            $('#contact .message_errors')[0].style = '';
            $('#contact .message_sended').hide();
            $('#contact .message_errors').hide();
            if (data.responseJSON.status == 'done') {
                $('#contact .message_sended')[0].innerHTML = data.responseJSON.msgs;
                $('#contact .message_sended').show();
                $('#contact').fadeOut(1500, function() {
                  location.reload();
                });
            }
            else if (data.responseJSON.status == 'error') {
                $.each(data.responseJSON.msgs, function (index, value) {
                    $('#contact .message_errors')[0].innerHTML += value + '<br />';
                });
                $('#contact .message_errors').show();
            }

            var x = $('#colorbox').width();
            var y = $('colorbox').height();
            parent.$.colorbox.resize({innerWidth: x, innerHeight: y});
        });
    });
</script>