@import "bootstrap";


/* universalnyy stil */

$grayMediumLight: #eaeaea;

html {
  overflow-y: scroll;
}

body {
  background-image: image-url("bg.jpg");
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* Типографії */

$lightGray: #999;

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-align: center;
}

h1 {
  font-size: 4em;
  letter-spacing: -2px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 600;
  text-shadow: 0px -1px rgba(0, 0, 0, 0.60), 0px 1px rgba(255, 255, 255, 0.35);
  padding-top: 23px;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  color: $lightGray;
  font-weight: 600;
  text-shadow: 0px -1px rgba(0, 0, 0, 0.60), 0px 1px rgba(255, 255, 255, 0.35);
}

h3 {
  letter-spacing: -2px;
  text-align: center;
  color: #444050;
  //font-weight: 600;
  //text-shadow: 0px -1px rgba(0, 0, 0, 0.6), 0px 1px rgba(255, 255, 255, 0.35);
}

h6 {
  font-size: 4em;
  letter-spacing: -2px;
  margin-bottom: 16px;
  color: $lightGray;
  text-align: center;
  font-weight: 600;
  text-shadow: 0px -1px rgba(0, 0, 0, 0.60), 0px 1px rgba(255, 255, 255, 0.35);
  padding-top: 23px;
}


p {
  letter-spacing: 0px;
  font-size: 14px;
  color: rgb(104, 102, 102);
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}



div.logo {
  height: 350px;
  width: 1190px;
  background-image: image-url("header-4.png");
  position: absolute;
  margin-left: -100px;
  //-webkit-border-top-left-radius: 0px ;
  //-webkit-border-top-right-radius: 0px ;
  //-webkit-border-bottom-right-radius: 316px 319px ;
  //-webkit-border-bottom-left-radius: 319px ;
}

ul {
  list-style: none;
}

div.container {
  height: 280px;
  margin: auto;
}

div.navbar-inner {
  margin-top: 43px;
  margin-left: auto;
  height: 42px;
  width: 938px;
  position: absolute;
  list-style: none;
}

div.navbar {
  padding-top: 165px;
}

.navbar .nav {
  left: 6px;
  margin: 0 10px 0 0;
  padding-left: 115px;
}

.navbar .brand {
  padding: 10px 30px 10px;
  position: absolute;

}

.navbar .nav li a {
  padding: 10px 30px 10px;
}

div.line {
  margin: auto;
  position: relative;
  overflow: auto;
  margin-bottom: 32px;
  padding-bottom: 20px;
  width: 987px;
  text-align: center;
  list-style: none;
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset rgba(0, 0, 0, .6) 0 0px 6px 0px;
  -webkit-box-shadow: inset rgba(0, 0, 0, .6) 0 0px 6px 0px;
  box-shadow: inset rgba(0, 0, 0, .6) 0 0px 6px 0px;
}

li#nutation.span4 {
  background: #00A1B9;
}

div.lang {
  float: right;
  margin-top: 5px;
  z-index: 1;
}

.lang select {
  width: 111px;
  padding: 4px;
}

div.clear {
  width: 820px;
  padding-left: 105px;
}

div.clear-dev {
  width: 900px;
}



li.span4 {
  display: block;
  padding-top: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset rgba(0, 0, 0, .6) 0 0px 6px 0px;
  -webkit-box-shadow: inset rgba(0, 0, 0, .6) 0 0px 6px 0px;
  box-shadow: inset rgba(0, 0, 0, .6) 0 0px 6px 0px;
  width: 300px;
  height: 225px;
}

li.span4:hover h3 {
  color: cornflowerblue;
}

li.span4:hover {
  box-shadow: 0 0 20px #000;
}

li.span5 {
  height: 213px;
  background-repeat: no-repeat;
  background-image: image-url("content/display-2.png");
  margin-right: 90px;
  margin-left: 30px;
  margin-top: 26px;
}

.test :hover {
  box-shadow: 0 0 20px #000;
  display: block;
}

div.half-block {
  background: #F4F4F4;
}

div.box-photo {
  padding: 10px 10px 10px 10px;
}

ul.block {
  margin: auto;
}

ul.block-site {
  width: 929px;
  margin: auto;
  height: 508px;
  background-image: image-url("bg.jpg");
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
}

#dev {
  width: 770px;
  height: 1155px;
}

ul.dev-left {
  width: 403px;
  margin-left: -52px;
  float: left;
  padding-bottom: 85px;
}

ul.dev-left img {
  float: right;
}

ul.dev-left h3 {
  position: absolute;
  text-align: left;
  padding-left: 30px;
  letter-spacing: -1px;
}

ul.dev-left p {
  letter-spacing: 0px;
  font-size: 14px;
  color: rgb(70, 67, 67);
  margin: 0;
  position: absolute;
  padding-left: 20px;
  padding-top: 68px;
}

ul.dev-right {
  width: 403px;
  float: right;
  margin-right: 87px;
  padding-bottom: 85px;
}

ul.dev-right img {
  float: right;
}

ul.dev-right h3 {
  position: absolute;
  text-align: left;
  padding-left: 30px;
  letter-spacing: -1px;
}

ul.dev-right p {
  letter-spacing: 0px;
  font-size: 14px;
  color: rgb(70, 67, 67);
  margin: 0;
  position: absolute;
  padding-left: 20px;
  padding-top: 68px;
}

ul.dev-right li {
  background-image: image-url("list.png");
  height: 167px;
  margin-bottom: 25px;
  margin-top: 11px;
  padding: 1px 0px 0px 10px;
}


ul.dev-left li {
  background-image: image-url("list.png");
  height: 167px;
  margin-bottom: 25px;
  margin-top: 11px;
  padding: 1px 0px 0px 10px;
}

div.line-title {
  height: 42px;
  margin-bottom: 10px;
  margin-top: 20px;
}

\\

1
freme

#mainwrapper {
  font: 10pt normal Arial, sans-serif;
  height: auto;
  margin: 80px auto 0 auto;
  text-align: center;
  width: 660px;
}

/* Image Box Style */
#mainwrapper .box {
  margin: 20px;
  margin-top: 20px;
  cursor: pointer;
  height: 308px;
  position: relative;
  overflow: hidden;
  width: 280px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset rgba(0, 0, 0, .6) 0 0px 6px 0px;
  -webkit-box-shadow: inset rgba(0, 0, 0, .6) 0 0px 6px 0px;
  box-shadow: inset rgba(0, 0, 0, .6) 0 0px 6px 0px;
}

#mainwrapper .box img {
  position: absolute;
  left: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

/* Caption Common Style */
#mainwrapper .box .caption {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  left: 0;
}

/** Caption 3: Fade **/
#mainwrapper .box .fade-caption, #mainwrapper .box .scale-caption {
  opacity: 0;
  width: 295px;
  height: 323px;
  text-align: left;
  padding: 15px;
}

/** Caption 6: Scale **/
#mainwrapper .box .scale-caption h3, #mainwrapper .box .scale-caption p {
  position: relative;
  left: -200px;
  /**  width: 170px; **/
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

#mainwrapper .box .scale-caption h3 {
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
  transition-delay: 300ms;
}

#mainwrapper .box .scale-caption p {
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  -ms-transition-delay: 500ms;
  transition-delay: 500ms;
}

/** Simple Caption :hover Behaviour **/
#mainwrapper .box:hover .simple-caption {
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  opacity: 1;
  transform: translateY(-100%);
}

/** Full Caption :hover Behaviour **/
#mainwrapper .box:hover .full-caption {
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  opacity: 1;
  transform: translateY(100%);
}

/** Fade Caption :hover Behaviour **/
#mainwrapper .box:hover .fade-caption, #mainwrapper .box:hover .scale-caption {
  opacity: 1;
}

/** Scale Caption :hover Behaviour **/
#mainwrapper .box:hover #image-6 {
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

#mainwrapper .box:hover .scale-caption h3, #mainwrapper .box:hover .scale-caption p {
  -moz-transform: translateX(200px);
  -o-transform: translateX(200px);
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
}

\\\\\ 2 frime

font-face {
  font-family: 'WebSymbolsRegular';
  src: image-url('images/websymbols/websymbols-regular-webfont.eot');
  src: image-url('images/websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'), image-url('images/websymbols/websymbols-regular-webfont.woff') format('woff'), image-url('images/websymbols/websymbols-regular-webfont.ttf') format('truetype'), image-url('images/websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ca-menu {
  position: absolute;
  font-family: 'Dosis', sans-serif;
  margin: 0;
}

.ca-menu li {
  width: 230px;
  height: 230px;
  border: 10px solid #f6f6f6;
  overflow: hidden;
  position: relative;
  float: left;
  background: #fff;
  margin-right: 40px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  border-radius: 125px;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  transition: all 400ms linear;
}

.ca-menu li:last-child {
  margin-right: 0px;
}

.ca-menu li a {
  text-align: left;
  width: 100%;
  height: 100%;
  display: block;
  color: #333;
  position: relative;
  -moz-box-shadow: 0px 0px 3px #000000;
  -webkit-box-shadow: 0px 0px 3px #000000;
  box-shadow: 0px 0px 3px #000000;

}

.ca-icon {
  font-family: 'WebSymbolsRegular', cursive;
  font-size: 40px;
  color: #f6f6f6;;
  line-height: 60px;
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 30px;
  text-align: center;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  transition: all 400ms linear;
}

.ca-main {
  font-size: 24px;
  position: absolute;
  top: 110px;
  height: 80px;
  width: 170px;
  left: 50%;
  margin-left: -85px;
  opacity: 0.8;
  text-align: center;
}

.ca-sub {
  text-align: center;
  color: #000;
  font-size: 20px;
  position: absolute;
  height: 80px;
  width: 170px;
  left: 50%;
  margin-left: -85px;
  top: 110px;
  opacity: 0;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  transition: all 400ms linear;
}

.ca-menu li:hover {
  background: #f7f7f7;
  border-color: #fff;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  box-shadow: 0 45px 60px -50px #000000;
}

.ca-menu li:hover .ca-icon {
  color: #555;
  font-size: 40px;
}

.ca-menu li:hover .ca-main {
  display: none;
}

.ca-menu li:hover .ca-sub {
  opacity: 0.8;
}

#slider {
  width: 960px;
  height: 370px;
  margin: 50px auto;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
}

#mask {
  width: 960px;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.fleche {
  position: absolute;
  top: 145px;
  cursor: pointer;
}

#fleche_gauche {
  left: -17px;
}

#fleche_droite {
  right: -17px;
}

#image_container {
  position: absolute;
  width: 650%;
  height: 100%;
  /* La transition sur tout les navigateurs */
  /* Chrome */
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;

  /* Firefox */
  -moz-transition-property: all;
  -moz-transition-duration: 1s;

  /* Opera */
  transition-property: all;
  transition-duration: 1s;

}

/* Les différentes positions du slider */
.image1 #image_container {
  left: 0;
}

.image2 #image_container {
  left: -100%;
}

.image3 #image_container {
  left: -200%;
}

.image4 #image_container {
  left: -300%;
}

/* Les images */
#image_container li {
  float: left;
}

/* L'encart Bleu */
#encart {
  position: absolute;
  top: -15px;
  left: 200px;
  background: image-url('resources/text.png');
  width: 328px;
  height: 396px;
}

#bouton {
  position: relative;
  width: 244px;
  height: 55px;
  margin: 300px 0px 0px 40px;
  cursor: pointer;
}

/* Les points de navigation */
#dots {
  width: 130px;
  margin: auto;
}

/* les points, avec leur background non selectionné */
#dots li {
  float: left;
  margin: 0px 2px;

  width: 12px;
  height: 12px;
  background: image-url('resources/empty-dot.png');
  cursor: pointer;
}

/* Point au survol */
#dots li:hover {
  background: image-url('resources/selected-dot.png');
}

/* Point "selectionné". De la même manière que l'image, on change en fonction de la classe de slider */
.image1 #dots li.button1, .image2 #dots li.button2, .image3 #dots li.button3, .image4 #dots li.button4 {
  background: image-url('resources/selected-dot.png');
}

/* Un eyecandy */
#glass {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* General Demo Style */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}


div.other-content {
  margin: auto;
  padding-top: 25px;
  width: 953px;
}

#main_container {
width: 990px;
margin: auto;
}

div.page-header {
  position: relative;
  height: 75px;
  border-radius: 6px;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
}

  #span-2 {
    background: rgba(12, 12, 12, 0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
    -webkit-box-shadow: inset rgba(10, 9, 9, 0.6) 0 0px 6px 0px;
    padding: 25px;
    padding-left: 279px;
}


#label {
  background-repeat: no-repeat;
  height: 482px;
  width: 250px;
  position: absolute;
  background-size: 100%;
  margin-top: 17px;
  margin-left: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
}

#all-content {
  padding-top: 1px;
  width: 987px;
  height: 1025px;
  margin: auto;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 18px;
}

.dev-all-content {
  padding-top: 1px;
  width: 987px;
  height: 1270px;
  margin: auto;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 18px;
}

div.mapa {
  width: 929px;
  margin: auto;
  padding-left: 94px;
  padding-right: 20px;
  background-image: image-url("bg.jpg");
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
}


.hide-layout {
  margin-top: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  display: block;
  visibility: visible;
  top: 231px;
  left: 322px;
  position: absolute;
  width: 643px;
  height: 458px;
  border: 5px solid whitesmoke;
}

/* PopUp */

#main_content td, th{
  color: white  ;
  background-color: black;
}

#price_content td, th {
  border: 1px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.popup {
  text-align: center;
  padding:10px;
  background: skyblue;
  opacity: 0.8;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 35px 0px;
  -webkit-border-radius: 15px;
}

.popup_title {
  font-size: 18px;
  font-weight:bold;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 5px;
}

.popup_entry {
  text-align: center;
}

.popup_one_colone {
  margin-left: 20px;
}

textarea#message_question {
  height: 100px;
  width: 500px;
}

#poslugy {
  margin: auto;
  margin-top: 15px;
}

#poslugy td, th {
  width: 350px;
}

#poslugy tr {
  width: 350px;
}

hr {
  margin: auto;
  margin-top: 23px;
  width: 700px;
  margin-bottom: 32px;
  border: 0;
  border-bottom: 1px solid white;
}

.alpha {
  background: grey;
  opacity: 0.80; /*задаем прозрачность слоя 50%*/
  filter:alpha(opacity=80); /*задаем прозрачность слоя в ИЕ*/
  width: 800px;
  height: 100%;
  position: absolute;
  z-index: -1;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.wrapper_body{
  padding: 20px 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  text-align: center;
  color: #4A4A4A ;
}
.cbm_wrap{
  min-height: 310px;
  width: 780px;
  margin: 10px auto;
  padding: 2px;
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  background-image: image-url("blue-bg.jpg");
  //background: -webkit-radial-gradient(center, circle, #f0f0f0, #0093B1);
}


.latest_img {
  border: 1px solid #575757;
  margin-left: 12px;
  -webkit-border-radius: 6px;
}

.img {
  border: 1px solid #575757;
  margin-left: 12px;
}

img.customs {
  padding-left: 24px;
  padding-bottom: 15px;
  zoom: 103%;
  width: 269px;
  height: 261px;
}

.title_color1 {color: #ffffff}
.title_color2 {color: #0390c5}

/* плавне появления текста при наведенні */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.span6.offset3 {
  width: 800px;
  height: auto;
}

.btn.btn-large.btn-primary {
  display: block;
}

div.row {
  text-align: center;
}

input.btn.btn-large.btn-primary {
  margin: auto;
  margin-top: 10px;
}

footer {
  width: 960px;
  height: 100px;
  margin: auto;
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 0px 6px 0px;
}