// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message_errors {
   border: 1px solid red;
   color: red;
   display: none;
}

.message_sended {
  border: 1px solid green;
  color: green;
  display: none;
}
