.view {
    margin-left: 17px;
    margin-top: 16px;
    width: 243px;
    height: 133px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background-repeat: no-repeat;
    background-position: center;
}

.view:hover {
    box-shadow: 0 0 5px #000;
}

.view .mask,.view .content {
   width: 245px;
   height: 133px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 7px 0 0 0;
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center;
}
a.inline {
    display: inline-block;
    text-decoration: none;
    padding: 3px 9px;
    color: #fff;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;
}
.view a.inline:hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;

}

.text {
  text-transform: none !important;
  padding: 0 !important;
  display: block !important;
}