<header>
  <div class="container">


    <div class="logo">
    </div>


    <div class="navbar">
      <div class="navbar-inner">


        <!-- Be sure to leave the brand out there if you want it shown -->
        <a class="brand" href="/">Siteok.net</a>

        <ul class="nav">
          <li class="<%= @top_menu == :main ? 'active' : '' %>"><a href="/"><%= t('top_menu.main_title') %></a></li>
          <li class="<%= @top_menu == :website_development ? 'active' : '' %>"><a href="/website_development"><%= t('contacts.menu_title') %></a></li>
          <li class="<%= @top_menu == :internet_services ? 'active' : '' %>"><a href="/internet_services"><%= t('contacts.menu_title2') %></a></li>
          <li class="<%= @top_menu == :support_sites ? 'active' : '' %>"><a href="/support_sites"><%= t('contacts.menu_title3') %></a></li>
        </ul>


      </div>
    </div>


  </div>


</header>