<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true, "slider" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>

<div id='main_container'>
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>

  <%= debug(params) if Rails.env.development? %>

</div>
<%= render 'layouts/footer' %>
<%= render 'layouts/analytics' %>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />

</body>
</html>
